body {
    font-family: Arial, sans-serif;
    background-image: url('images/background.png');
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: center center; 
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    color: #007BFF;
}

.logo {
    border-radius: 12px;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
}

.introduction h1 {
    text-decoration: underline;
}

.how-it-works strong, .type-and-absorb strong {
    text-decoration: underline;
}

.how-it-works, .type-and-absorb, .introduction {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.button {
    display: block;
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 20px auto;
    width: 50%;
    font-weight: bold;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 100px;
    resize: none;
}