body {
    font-family: 'Baloo Paaji 2', sans-serif;
    font-size: large;
    background-image: url('images/background.png');
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: center center; 
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    background-color: transparent;
    border-radius: 10px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    padding: 20px;
}

h1 {
    text-align: center;
    color: #007BFF;
    
}

.logo {
    border-radius: 12px;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
}

.introduction h1 {
    text-decoration: underline;
}

.how-it-works h2, .type-and-absorb h2 {
    text-decoration: underline;
    font-weight: bolder;
}

.how-it-works, .type-and-absorb, .introduction, .temp {
    text-align: left;
    font-size: large;
    background-color: #E7FEFF;
    border-style: solid;
    border-width: 3px;
    border-color: #e5fa25;
    box-shadow: 6px 5px 7px rgb(52, 52, 52);
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.how-it-works{
    border-color: #00C108;
}

.type-and-absorb{
    border-color: #FF9FA5;
}

.introduction{
    border-color: #6461FF;
}

.button {
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #ffffff;
    border-style: solid;
    color: #000000;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    margin: 16px auto;
    width: 30%;
    font-weight: bold;
    border-width: 2px;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 200px;
    resize: none;
    box-sizing: border-box;
}